<div style="position: relative">
        <a href="#" class="modal-menu__link" ng-click="activeMenu('addListOfTasks', $event)">Lista zadań</a>

        <!---->
        <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'addListOfTasks' && toggle === true }">
          <span class="menu-heading">Dodaj Listę Zadań</span>

          <div class="todo-list-wrapper">
            <form>
              <label for="">Nazwa</label>
              <input type="text" class="form-control" ng-model="nameList" placeholder="Dodaj liste zadań..">
              <button class="btn btn-success pull-right" ng-click="addListOfTasks($parent.$index, $index, nameList)">Dodaj</button>
            </form>

          </div>
        </div>
        <!---->
      </div>