<a href="#" ng-click="$ctrl.parent.activeMenu('Notice', $event);">
  <div class="btns">
    <span ng-class="{ isInformation :  $ctrl.parent.user.notifications.readed === false }" class="glyphicon glyphicon-bell"></span>
  </div>
</a>

<div class="menu menu_notice" ng-click="$ctrl.parent.blockClosingList($event)" ng-class="{active : $ctrl.parent.name === 'Notice' && $ctrl.parent.toggle === true}">

  <!--<a href="#" ng-click="$ctrl.parent.activeMenu('Notice', $event);">close</a>-->
  <span class="menu-heading">Powiadomienia</span>
 
  <div class="menu_notice-placeholder" ng-repeat="notif in $ctrl.parent.user.notifications.note"> 
      <span><b>{{notif.user}}</b> {{notif.information}} {{notif.date | timeAgo}}</span>
    </div> 



    <div class="menu_notice-placeholder" ng-hide="$ctrl.parent.user.notifications.note.length > 0"> 
        <span>Brak powiadomień</span>
      </div>
</div>



