<% include partials/head.ejs %>

  <body ng-click="name = ''; toggle = false;" ng-controller="boardsController" ng-init="init('<%= JSON.stringify(user) %>')">

 
    <div style="position: absolute;height: 40px; background-color:#026AA7; width: 100%;"></div>
 
    <navbar user='user'></navbar>

    <div class="container-boards">
 
      <div class="row">
        <div class="col-md-12">
          <ul class="nav_boards">
            <li class="active">
              <a data-toggle="tab" href="/#profile" class="btn btn-default">Tablice Otwarte</a>
            </li>
            <li>
              <a data-toggle="tab" href="/#cards" class="btn btn-default">Tablice Zamkniętę</a>
            </li>
          </ul>
        </div>
      </div>
 

      <div class="tab-content">
        <div id="profile" class="tab-pane fade in active">
          <div class="row">
            <div class="col-md-12"> 

              <div class="container-boards__heading">
                <span class="glyphicon glyphicon-star-empty"></span>
                <h4>Tablice oznaczone gwiazdką</h4>
              </div>

              <ul class="boards">
                <li ng-repeat="board in boards" ng-hide="board.closed">

                  <a href="b/{{board._id}}">
                    <div class="boards__item" style="background-color: {{board.background}}; background-image: url('/images/{{board.image}}'); background-position: center;">
                      <span class="boards--item__heading">{{board.name}}</span>
                    </div>
                  </a>
                </li>
              </ul>
 

              <div class="container-boards__heading">
                <span class="glyphicon glyphicon-user"></span>
                <h4>Tablice prywatne</h4>
              </div>

              <ul class="boards">
                <li ng-repeat="board in boards" ng-hide="board.closed">
                  <a href="b/{{board._id}}">
                    <div class="boards__item" style="background-color: {{board.background}}; background-image: url('/images/{{board.image}}'); background-position: center;">
                      <span class="boards--item__heading">{{board.name}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href ng-click="activeMenu('boardsCreateBoard', !toggle, $event);">
                    <div class="boards__item-create" style="position: relative;">
                      <span class="boards--item__heading-create">Dodaj tablicę</span>
                      <div class="menu--create_board">
                        <div class="menu cb__boards-coordinate menu--create-board" ng-click="blockClosingList($event)" ng-class="{active : name === 'boardsCreateBoard' && toggle === true}">
                          <span class="menu-heading">Utwórz Tablicę</span>
                          <div class="menu__wrapper--create-board center-block">
                            
                            <form name="createBoardFrm" novalidate>
                              <div class="form-group">
                                <label>Tytuł</label>
                                <input type="text" class="form-control" ng-model="newBoard" ng-required="true" ng-minlength="1" ng-maxlength="215" placeholder="Wprowadź tytuł...">
                              </div>
                              <span class="bottom--create-board">Ta tablica będzie Prywatna.</span>
                              <button class="btn btn-success" ng-disabled="createBoardFrm.$invalid" ng-click="addBoard(newBoard)">Utwórz</button> 
                            </form>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div id="cards" class="tab-pane">
          <div class="row ">
            <div class="col-md-12"> 
              <div class="row">
                <div class="col-md-12">  
                  <h3>Nie posiadasz zamkniętych tablic.</h3> 

                  <div class="container-boards__heading" ng-show="board.closed">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <h4>Tablice oznaczone gwiazdką</h4>
                  </div>

                  <ul class="boards">
                    <li ng-repeat="board in boards" ng-show="board.closed">

                      <a href="b/{{board._id}}">
                        <div class="boards__item" style="background-color: {{board.background}}">
                          <span class="boards--item__heading">{{board.name}}</span>
                        </div>
                      </a>
                    </li>
                  </ul>
 

                  <div ng-show="board.closed">
                    <span class="glyphicon glyphicon-user"></span>
                    <h4>Tablice prywatne</h4>
                  </div>

                  <ul class="boards">
                    <li ng-repeat="board in boards" ng-show="board.closed">
                      <a href="b/{{board._id}}">
                        <div class="boards__item" style="background-color: {{board.background}}">
                          <span class="boards--item__heading">{{board.name}}</span>
                        </div>
                      </a>
                    </li>
                  </ul> 
                </div>
              </div> 
            </div>
          </div>
        </div> 
      </div>  
    </div>


    <script src="/javascripts/angular-timeago.js"></script>
    <script src="/javascripts/boards/boardsController.js"></script>
    <script src="/navbar/navbar-module.js"></script>
    <script src="/navbar/navbar-component.js"></script> 
    <script src="/navbar/profile-menu/profile-menu-component.js"></script>
    <script src="/navbar/notifications/notifications-component.js"></script>
    <script src="/navbar/boards-list/boards-list-component.js"></script>
    <script src="/navbar/menu-create/menu-create-component.js"></script> 
    <script src="/sidebar/sidebar.js"></script>  
    <script src="/javascripts/angular-datepicker.js"></script>
  </body>

  </html>