<% include partials/head.ejs %>

  <body class="bg-colour-main" ng-controller="TodoListCtrl" ng-init="init('<%= JSON.stringify() %>')">

    <!-- <nav class="navbar navbar-default">
    <div class="container-fluid"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand heading-nav" href="#">Tasker</a>
      </div>
 
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login"><button type="button" class="btn">Zaloguj</button></a></li>
          <li><a href="/register"><button type="button" class="btn btn-success">Zarejestruj się</button></a></li>
        </ul>
      </div> 
    </div> 
  </nav> -->


    
<div class="main-container">

    <header id="header">
        <nav class="nav">
            <div class="nav-wrapper">
                <a class="nav-wrapper__link" href="/">Tasker</a>
      
                <ul class="nav-wrapper__list">
                  <li class="nav-wrapper__item">
                    <a href="/login" class="btn btn-default">Zaloguj</a>
                  </li>
                  <li class="nav-wrapper__item">
                    <a href="/register" class="btn btn-success">Zarejestruj się</a>
                  </li>
                </ul>
            </div>
          </nav>
    </header>
    
    
    <main id="content">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-6 login center-block">
              <h1 class="login__header login__header--font">Zaloguj się do Taskera</h1>
    
              <form action="/login" method="post">
                <div class="form-group">
                  <label class="heading heading-login">Login</label>
                  <input type="text" class="form-control" name="username" placeholder="np. joaana29">
                </div>
    
                <div class="form-group">
                  <label class="heading heading-login" for="">Hasło</label>
                  <input type="password" class="form-control" name="password" placeholder="np. *********">
                </div>
    
                <button type="submit" class="btn btn-success">Zaloguj się</button>
    
                <span class="heading">Zapomniałeś hasła ?
                  <a href="/remind-password">Zresetuj je.</a>
                </span>
                
              </form>
            </div> 
          </div> 
    </main>
    
    
    
    <article id="note">
        <div class="row">
            <div class="col-md-4 col-xs-6 col-sm-6 center-block">
              <p class="note">
                Zrezygnuj z niekończących się wymian wiadomości e-mail, nieaktualnych arkuszy kalkulacyjnych, karteczek samoprzylepnych i
                nieporęcznego oprogramowania do zarządzania projektami. Aplikacja Tasker umożliwi Ci zarządzanie nimi z jednego
                miejsca.
              </p>
            </div>
          </div>
    </article>
</div>





      <script src="/javascripts/user/registerController.js"></script>


      <script src="/navbar/navbar-module.js"></script>
      <script src="/navbar/navbar-component.js"></script>

      <script src="/navbar/profile-menu/profile-menu-component.js"></script>
      <script src="/navbar/notifications/notifications-component.js"></script>
      <script src="/navbar/menu-create/menu-create-component.js"></script>

      <script src="/sidebar/sidebar.js"></script>
  </body>

  </html>