<% include partials/head.ejs %>

<body ng-controller="TodoListCtrl" ng-init="init('<%= JSON.stringify() %>')">

  <div class="row">
    <div class="col-md-3 center-block">
      <h1 class="register-header">Stwórz konto Tasker</h1>

      <form action="/registerUser" method="post">
        <form-group class="reg-form">
          <label for="">Nazwa</label>
          <input type="text" class="form-control" name="username" placeholder="np. Jan Kowalski">
        </form-group>

        <form-group class="reg-form">
          <label for="">Email</label>
          <input type="text" class="form-control" name="email" placeholder="np. jan.kowalski@gmail.com">
        </form-group>

        <form-group class="reg-form">
          <label for="">Hasło</label>
          <input type="password" class="form-control" name="password" placeholder="np. ********">
        </form-group>

        <form-group class="reg-form">
          <label for="">Wprowadź ponownie hasło</label>
          <input type="password" class="form-control" name="confirmPassword" placeholder="np. ********">
        </form-group>

        <button type="submit" class="btn btn-reg">Zarejestruj się</button>
      </form>
    </div>
  </div>

  <div class="row infoLogin">
    <div class="col-md-2 center-block">
      <p>Posiadasz już konto? <a href="/login" tabindex="0">Zaloguj się.</a></p>
    </div>
  </div>

  <div class="row footer">
    <div class="col-md-10 center-block" style="text-align: center;">
      <ul class="footer-info">
        <li>Wprowadzenie</li>
        <li>Cennik</li>
        <li>Aplikacje</li>
        <li>Praca</li>
        <li>Blog</li>
        <li>Developerzy</li>
        <li>O</li>
        <li>Pomoc</li>
        <li>Legalnie</li>
      </ul>
      <span>© Copyright 2017, Tasker, Inc. Wszystkie prawa zastrzeżone. </span>
    </div>
  </div>


  <script src="/javascripts/user/registerController.js"></script>
</body>
</html>