<% include partials/head.ejs %>

  <body ng-controller="TodoListCtrl" ng-init="init('<%= JSON.stringify() %>')">

    <main id="forgotPassword">
      <div class="forgotPassword-wrapper">
        <form action="/remind-password" method="post" class="forgotPassword__list" novalidate>
          <h1 class="register-header">Przypomnij hasło</h1>
          <form-group>
            <label>Podaj login użytkownika</label>
            <% if (error) { %>
              <span>
                <%= error %>
              </span>
              <% } %>
                <input type="text" class="form-control" name="username" placeholder="np. jankowalski">
          </form-group>
          <button type="submit" class="btn btn-reg">Wyślij</button>
          <a href="/" class="forgotPassword__link">Wróć do strony głównej.</a>
        </form>
      </div>
    </main>
    <script src="/javascripts/user/registerController.js"></script>
  </body>

  </html>