<% include partials/head.ejs %>

  <body>
    <main id="forgotPassword">
      <div class="forgotPassword-wrapper">
        <form name="remindFrm" action="/remind-password" method="post" class="forgotPassword__list" novalidate>
          <h1 class="register-header">Przypomnij hasło</h1>
          <div class="form-group" ng-class="{ 'has-error': remindFrm.username.$invalid && remindFrm.username.$touched }">
            <label>Podaj login użytkownika</label>
            <% if (error) { %>
              <span>
                <%= error %>
              </span>
              <% } %>
                <input type="text" class="form-control" name="username" placeholder="np. jankowalski">
          </form-group>
          <button type="submit" class="btn btn-reg">Wyślij</button>
          <a href="/" class="forgotPassword__link">Wróć do strony głównej.</a>
        </form>
      </div>
    </main> 



    <script src="/javascripts/angular-timeago.js"></script>
    <script src="/navbar/navbar-module.js"></script>
    <script src="/navbar/navbar-component.js"></script>
    <script src="/sidebar/sidebar.js"></script> 
    <script src="/javascripts/angular-datepicker.js"></script>

  </body>

  </html>