<div class="modal-desc">
        <div>
            <h5 class="quiet-heading">Opis:</h5> 
          <a href="#"  ng-class="{ deactive : toggleDesc != false }">
            <span class="quiet-heading underline" ng-click="toggleDesc = !toggleDesc">
              Edytuj
            </span>
          </a>
        </div>

        <div class="modal-desc-form" ng-class="{ deactive : toggleDesc != false }">
          <p> {{card.description}}</p>
        </div>

        <div class="modal-desc-form" ng-class="{ deactive : toggleDesc != true }">
          <form ng-submit="editDesc($parent.$index, $index, descripNew)">
            <textarea ng-model="descripNew" cols="30" rows="2" class="form-control" placeholder="Dodaj bardziej szczegółowy opis..."></textarea>
            <button class="btn btn-success" ng-click="toggleDesc = !toggleDesc">Zapisz</button>
          </form>
        </div>
      </div>