 

.comment-card {
  &__txt {
    font-size: 13px;
  padding: 8px;
  background-color: white;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 1px 1px 1px grey; 
  margin: 5px 0 5px 0;
  }
 

  &__option {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;

    &:hover {
      color: grey;
    }
  }

  &__author {
    font-weight: bold;
    margin-left: 2px;
    display: block;
  }

  p {
    display: block;
    margin-left: 4px;
  }
}
 
.positionCircle {
  position: absolute; 
  left: -32px;
}

.editComment {
  textarea {
    margin-bottom: 5px;
    max-width: 100%;
  }
}

.underline {
     text-decoration: underline;
}
/*modal*/
  .modal-dialog {
    width: 800px;
  }
  .modal-body {
  background: #EDEFF0; 
  padding: 0 0 0 10px !important; 
  }
 
.modal-icon { 
 position: absolute;
 left: -25px; 
 font-size: 20px;
 color: grey !important;
}

.modal-icon-inside {
 font-size: 20px;
 color: grey !important; 
}

.modal-wrapper {
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

.modal-heading {
  width: 100%;
  
  word-wrap: break-word;
}
.modal-heading h4 {
  font-weight: bold;
}

.modal-left-column {
  width: 70%;  
}
 
.quiet-heading {
  color: #838c91;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  margin: 5px 15px 8px 0; }
 

.modal-desc h5 {
  margin: 0px;
  margin-top: 15px;
  padding: 0px;
}

.modal-desc-form button {
  margin-top: 5px;  
}

.modal-desc-form { 
  word-wrap: break-word;
  margin-top: 15px;
}

.modal-desc-form textarea { 
  background: rgba(0,0,0,.03);
border-color: rgba(0,0,0,.15);
box-shadow: inset 0 1px 6px rgba(0,0,0,.1);
  resize: none;
  
}


.loud-header {
  font-size: 16px;
  font-weight: 600; }

.modal-comments {
 margin-top: 30px;
}

.modal-comments textarea {
  max-width: 100%;
}

.modal-comments button {
  margin-top: 5px;
}

.modal-activity {
  margin-top: 50px;
}

// window comments

.window-comments {
  margin-left: 10px;
}


// modal option



.modal-right-column {
  width: 30%; 
  padding: 15px;
}

// .modal-menu a {
// }


.modal-menu__link { 
  border: 0;
  text-align: left;
  display: block;
  width: 100%;
  position: relative;
  padding: 7px 7px 7px 11px;
  height: 2pc;
  margin-top: 7px;
  background: #E2E4E6;
  box-shadow: 0 1px 0 0 #C4C9CC; 
  color: black; 
  min-width: 180px;
}

.modal-menu span {
  
  margin-top: 10px;
}

.modal-menu li {
  list-style-type: none;
}

// deadline
.modal-deadline {
  margin-top: 5px;
  min-height: 35px;
  display: flex;
  &__item {
    // border: 1px solid grey;
    background-color: rgba(211, 211, 35, 0.253);
    border-radius: 15px;
    margin-left: 3px;
  }
}

//attachments
.panel-attachment { 
  &__input {
    height: 50px;
    margin: 15px 0 15px 0;
  }
}





.modal-label { 
    &__items {
      display: inline-flex;
      flex-wrap: wrap; 
      span {
        text-align: center;
        margin-bottom: 10px;
      }
    }
}

.modal-label .quiet-heading {
  display: block;
}

.modal-label .label-item { 
  padding: 5px;
  min-width: 10px;
  min-height: 10px;
  margin-right: 5px;  
  border-radius: 3px;
}

.modal-tasks {
  margin-top: 25px;
}

.modal-tasks form > button {
  margin: 5px 0 5px 0;
}
.modal-tasks form > textarea {
  max-width: 100%;
  margin-top: 5px;
}


.modal-tasks span {
  margin: 0; 
}

.modal-tasks ul {
  list-style-type: none;
}

.modal-tasks h4 {
  margin: 0 0 0 10px; 
  padding: 0;
}

.progress {
  height: 8px;
  background-color: #E2E4E6;
  margin-bottom: 7px; 
  width: 95%; 
  margin-top: 6px;
  margin-left: 5px;
}

.progress-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.progress-wrapper span {
  font-size: 11px !important;
  width: 5%;
}
 
 .modal-header-wrapper {
   display: flex; 
   
    width: 100%;
 }

 .modal__deleteLists { 
   position: absolute;
   right: 0px;
    cursor: pointer; 
 }


 .completeTask {
   text-decoration: line-through ;
   font-style: italic;
 }



 .taskInList {  
   padding: 5px;
   width: 100%;
 }

 .taskInList span {
   margin-left: 11px;
 }

 .taskInList:hover {
   background-color: #d2d2d2;
   border-radius: 3px;
 }
 

.addTaskToList {
  display: none;
  margin-left: 28px;
}

.addTaskToListBtn {
  margin-left: 28px;
  color: #838c91;
   padding: 5px;
}

.addTaskToListBtn:hover {
  background-color: #d2d2d2;
   border-radius: 3px;
   cursor: pointer;
}
 
.active {
  display: block;
}













 