<div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'Przenieś' && toggle === true }">
        <span class="menu-heading">Przenieś Kartę</span>

        <div class="transfer-wrapper">
          <form>
            <div class="transfer-opt">
              <span>Przenieś do tablicy:</span>
              <select class="form-control" ng-model="selectedBoard" ng-change="changeBoard(selectedBoard)">
                <option ng-repeat="item in boards" value="{{item._id}}">{{item.name}}</option>
              </select>
            </div>


            <div class="transfer-opt">
              <span>Przenieś do listy:</span>
              <select class="form-control" ng-model="selectedList">
                <option ng-show="downloadedLists === 0" disabled value="">Lista do której przenieść kartę ...</option>
                <option ng-repeat="item in downloadedLists" value="{{$index}}">{{item.list}}</option>
              </select>
            </div>


            <button class="btn btn-success pull-right" ng-click="changePositionCard(selectedBoard, selectedList)">Przenieś</button>
          </form>
        </div>

      </div>