<a href="#" ng-click="$ctrl.parent.activeMenu('dada', $event);">
  <div class="btns">
    <span class="glyphicon glyphicon-align-left btn__glyph"></span>
    <span class="btn--name">Tablice</span>
  </div>
</a>


<div class="boards-list" ng-click="blockClosingList($event)" ng-class="{active : $ctrl.parent.name === 'dada' && $ctrl.parent.toggle === true}">
  <!--<a href="#" ng-click="$ctrl.parent.activeMenu('Create', false, $event);">close</a>-->

  <input type="text" class="form-control" ng-model="findYourBoard.name" placeholder="Szukaj tablic po nazwie...">

  <ul>
    <li ng-repeat="board in $ctrl.parent.boards | filter: findYourBoard">
      <a href="/b/{{board._id}}">
        <div  class="boards-list__board">
          <span style="background-color: {{board.background}}"></span>
          <span style="background-color: {{board.background}}">{{board.name}}</span>
        </div>
      </a>
    </li>


  </ul>
</div>