<div style="position: relative">
  <a href="#" class="modal-menu__link" ng-click="activeMenu('Usuń', !toggle, $event)">Usuń</a>
  <div class="menu" ng-click="blockClosingList($event)" ng-class="{active : name === 'Usuń' && toggle === true }">
    <span class="menu-heading">Skasować Kartę?</span>
    <div class="delete-wrapper">
      <span>Wszystkie aktywności zostaną usunięte z kanału aktywności i nie będzie możliwości odtworzenia karty. Nie ma powrotu.</span>
      <button class="btn btn-danger" ng-click="deleteCard($parent.$index, $index)">Skasuj</button>
    </div>
  </div>
</div>